* {
    box-sizing: border-box;
}

body {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

.header {
    padding-top: 18px;
}

.main-container {
    width: 1000px;
    margin: auto;
}

.top-menu {
    text-align: right;
    padding: 5px 0 10px 10px;
}

.top-menu a {
    color: #685b5b;
    padding: 7px 10px;
}

.top-menu a:hover {
    color: #f84970;
    background-color: #f5e3e7;
    padding: 7px 10px;
}

.top-menu-list {
    list-style-type: none;
    margin-top: 0;
}

.top-menu-list > li {
    display: inline;
    font-size: 10px;
    letter-spacing: 1px;
    color: #beb9b9;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 550;
}

.main-menu {
    float: right;
    border: 1px solid #dad7d7;
    background: white;
    margin-top: -1px;
    margin-right: 0px;
    padding: 8px 20px 8px 8px;

}

.main-menu-list {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-menu-list > li {
    display: inline;
    font-size: 10px;
    letter-spacing: 1.5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.main-menu a {
    color: black;
    padding: 13px 15px;
}

.main-menu a:hover {
    color: white;
    background-color: #f84970;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.logo {
    background-image: url("assets/logo.png");
    height: 72px;
    width: 146px;
    margin-left: 10px;
    position: relative;
    float: left;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    .logo { 
        background-image: url('assets/logo@2x.png');
        background-size: cover;
    }    
}

.content > div {
    float: left;
    width: 50%;
}

.content{
    margin-top: -1px;
    margin-left: -1px;
}

.box-content {
    border: 1px solid #dad7d7;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-transition: all 0s ;
        -moz-transition: all 0s ;
            -ms-transition: all 0s ;
                -o-transition: all 0s ;
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.box:hover > .box-content {
    transform: translate(-10px, -10px);
    box-shadow:
        0.5px 0.5px 0 0 #f84970,
        1.0px 1.0px 0 0 #f84970,
        1.5px 1.5px 0 0 #f84970,
        2.0px 2.0px 0 0 #f84970,
        2.5px 2.5px 0 0 #f84970,
        3.0px 3.0px 0 0 #f84970,
        3.5px 3.5px 0 0 #f84970,
        4.0px 4.0px 0 0 #f84970,
        4.5px 4.5px 0 0 #f84970,
        5.0px 5.0px 0 0 #f84970,
        5.5px 5.5px 0 0 #f84970,
        6.0px 6.0px 0 0 #f84970,
        6.5px 6.5px 0 0 #f84970,
        7.0px 7.0px 0 0 #f84970,
        7.5px 7.5px 0 0 #f84970,
        8.0px 8.0px 0 0 #f84970,
        8.5px 8.5px 0 0 #f84970,
        9.0px 9.0px 0 0 #f84970,
        9.5px 9.5px 0 0 #f84970,
        10.0px 10.0px 0 0 #f84970;
    }

.news-container {
    background-color: white;
    padding: 13px 13px 13px 12px;
    overflow: hidden;
}

.news-picture {
    max-width: 100%;
    max-height: 100%;
}

.bottom-picture {
    float: right;
    padding: 0 0 0 25px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 20px;
    color: #220008;
    margin-top: 10px;
    margin-bottom: 0;
}

h6 {
    color: #fa7a96;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

p {
    font-size: 13px;
    letter-spacing: 0.5px;
    font-family: proxima-nova, sans-serif;
    color: #929090;
    margin-top: 10px;
    margin-bottom: 0;
}

.article-link {
    color: #bdb3b6;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: proxima-nova, sans-serif;
    margin-top: 10px;
}

.footer {
    float: left;
    text-align: center;
    width: 100%;
    margin: 35px auto;
}

.footer > p {
    font-size: 10px;
}

.news-container-youtube {
    background-color: white;
    padding: 13px 13px 20px 19px;
    overflow: hidden;
}

.qode-youtube {
    color: #fa7a96;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
}

.youtube-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #220008;
    margin-top: 10px;
    margin-bottom: 0;
}

.menu-button {
    display: none;
    cursor: pointer;
}

.menu-button > span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

@media (max-width: 1000px) {
    .top-menu, 
    .main-menu-items {
        display: none;
    }
    .main-menu-items {      
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.98);
    }
    .main-menu-items.show {
        display: block;
    }
    .main-menu {
        padding: 5px 10px;
    }
    .main-menu-list li {
        display: block;
    }
    .main-menu-list a {
        display: block;
        padding: 20px;
    }
    .main-menu-list li:not(:last-of-type) {
        border-bottom: 1px solid silver;
    }
    .content > div {
        clear: both;
    }
    .main-container, .content > div {
        width: 500px;
        margin: auto;
    }
    .menu-button {
        display: block;
    }
}

@media (max-width: 479px) {
    .main-menu {
        padding: 5px 10px;
    }
    .content > div {
        clear: both;
    }
    .main-container, .content div {
        width: 100%;
        margin: auto;
    }
    .menu-button {
        display: block;
    }
}
